@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Poppins",sans-serif;
}

body{
	min-height:100vh;
	background:url(images/bg.jpg) no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.contact-section{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.contact-info{
	color:#00264d;
	max-width:500px;
	line-height:65px;
	padding-left:40px;
	font-size:18px;
}

.contact-info i{
	margin-right:20px;
	font-size:25px;
}

.contact-info p{
	color:  #33001a;
	text-align:justify;
	font-size:14px;
	line-height: 3.0;
}	