@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:"Poppins",sans-serif;
}

body{
	min-height:100vh;
	background:url(images/bg.jpg) no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.contact-section{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.contact-info{
	color:#00264d;
	max-width:500px;
	line-height:65px;
	padding-left:40px;
	font-size:18px;
}

.contact-info i{
	margin-right:20px;
	font-size:25px;
}

.contact-info p{
	color:  #33001a;
	text-align:justify;
	font-size:14px;
	line-height: 3.0;
}

.contact-form{
	max-width:700px;
	margin-right:50px;
}

.contact-info, .contact-form{
	flex:1;
}

.contact-info h1{
	color:#00004d;
	text-align:left;
	font-size:45px;
	text-transform:uppercase;
	margin-bottom:30px;
}

.contact-form h2{
	color:#00004d;
	text-align:center;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:30px;
}

.contact-form p{
	color:  #33001a;
	text-align:center;
	font-size:16px;
	margin-bottom:30px;
}	

.contact-form .text-box{
	background:#000;
	color: #404040;
	border:none;
	width: calc(50% - 10px);
	height:40px;
	padding: 15px;
	font-size:15px;
	border-radius:5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom:30px;
	opacity:0.5;
	border-style:rounded;
}

.contact-form .text-box:first-child{
	margin-right:15px;	
}	